In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import streamlit as st

In [3]:
!dir

 El volumen de la unidad C es Windows
 El nï¿½mero de serie del volumen es: A64F-3419

 Directorio de c:\Users\dllamas\Desktop\repo\olist-interactive-dashboad\notebooks

13/05/2025  12:43    <DIR>          .
13/05/2025  10:36    <DIR>          ..
13/05/2025  11:00             2.561 carlosmr-notebook.ipynb
13/05/2025  12:43            13.443 dllamas-notebook.ipynb
13/05/2025  11:01             2.564 mballesteros-notebook.ipynb
               3 archivos         18.568 bytes
               2 dirs  429.401.645.056 bytes libres

In [4]:
dir_prefix = '../resources/data/olist_{}_dataset.csv'
df_customers = pd.read_csv(dir_prefix.format('customers'), encoding='utf-8')
df_customers.name = 'customers'

df_order_items = pd.read_csv(dir_prefix.format('order_items'), encoding='utf-8')
df_order_items.name = 'order_items'

df_order_payments = pd.read_csv(dir_prefix.format('order_payments'), encoding='utf-8')
df_order_payments.name = 'order_payments'

df_order_reviews = pd.read_csv(dir_prefix.format('order_reviews'), encoding='utf-8')
df_order_reviews.name = 'order_reviews'

df_orders = pd.read_csv(dir_prefix.format('orders'), encoding='utf-8')
df_orders.name = 'orders'

df_products = pd.read_csv(dir_prefix.format('products'), encoding='utf-8')
df_products.name = 'products'

df_sellers = pd.read_csv(dir_prefix.format('sellers'), encoding='utf-8')
df_sellers.name = 'sellers'

df_translations = pd.read_csv('../resources/data/product_category_name_translation.csv', encoding='utf-8')
df_translations.name = 'translations'

In [5]:
all_df = [df_customers, df_order_items, df_order_payments, df_order_reviews, df_orders, df_products, df_sellers, df_translations]

In [6]:
[print(f'Nulos en {df.name} ->\n{df.isna().sum()}\n\n') for df in all_df]

Nulos en customers ->
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64


Nulos en order_items ->
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64


Nulos en order_payments ->
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64


Nulos en order_reviews ->
review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64


Nulos en orders ->
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64


Nulos en products ->
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64


Nulos en sellers ->
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64


Nulos en translations ->
product_category_name            0
product_category_name_english    0
dtype: int64

[None, None, None, None, None, None, None, None]

In [7]:
[print(df.info()) for df in all_df]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

[None, None, None, None, None, None, None, None]

In [8]:
score_map = {
'bad_review': [1,2],
'normal_review': 3,
'good_review': [4,5]
}