In [1]:
import os
import pandas as pd

all_csv = os.listdir('../resources/clean_data')

variables_names = [f'df_{csv_name[6:-4]}' for csv_name in all_csv]
[print(csv_name) for csv_name in all_csv]
print('----------------------------------------------')
[print(variable_name) for variable_name in variables_names]

clean_customers.csv
clean_delivered_orders.csv
clean_not_approved_orders.csv
clean_not_delivered_orders.csv
clean_not_picked_up_orders.csv
clean_orders.csv
clean_order_items.csv
clean_order_payments.csv
clean_order_reviews_review_comments_no_null.csv
clean_products.csv
clean_sellers.csv
clean_translations.csv
orders_by_customer.csv
----------------------------------------------
df_customers
df_delivered_orders
df_not_approved_orders
df_not_delivered_orders
df_not_picked_up_orders
df_orders
df_order_items
df_order_payments
df_order_reviews_review_comments_no_null
df_products
df_sellers
df_translations
df__by_customer

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [2]:
clean_data_dir_prefix = '../resources/clean_data/{}'
df_customers = pd.read_csv(clean_data_dir_prefix.format('clean_customers.csv'), encoding='utf-8', sep=',')
df_customers.name = 'df_customers'

df_orders = pd.read_csv(clean_data_dir_prefix.format('clean_orders.csv'), encoding='utf-8', sep=',')
df_orders.name = 'df_orders'

df_delivered_orders = pd.read_csv(clean_data_dir_prefix.format('clean_delivered_orders.csv'), encoding='utf-8', sep=',')
df_delivered_orders.name = 'df_delivered_orders'

df_not_approved_orders = pd.read_csv(clean_data_dir_prefix.format('clean_not_approved_orders.csv'), encoding='utf-8', sep=',')
df_not_approved_orders.name = 'df_not_approved_orders'

df_not_delivered_orders = pd.read_csv(clean_data_dir_prefix.format('clean_not_delivered_orders.csv'), encoding='utf-8', sep=',')
df_not_delivered_orders.name = 'df_not_delivered_orders'

df_not_picked_up_orders = pd.read_csv(clean_data_dir_prefix.format('clean_not_picked_up_orders.csv'), encoding='utf-8', sep=',')
df_not_picked_up_orders.name = 'df_not_picked_up_orders'

df_order_items = pd.read_csv(clean_data_dir_prefix.format('clean_order_items.csv'), encoding='utf-8', sep=',')
df_order_items.name = 'df_order_items'

df_order_payments = pd.read_csv(clean_data_dir_prefix.format('clean_order_payments.csv'), encoding='utf-8', sep=',')
df_order_payments.name = 'df_order_payments'

df_order_reviews_review_comments_no_null = pd.read_csv(clean_data_dir_prefix.format('clean_order_reviews_review_comments_no_null.csv'), encoding='utf-8', sep=',')
df_order_reviews_review_comments_no_null.name = 'df_order_reviews_review_comments_no_null'

df_products = pd.read_csv(clean_data_dir_prefix.format('clean_products.csv'), encoding='utf-8', sep=',')
df_products.name = 'df_products'

df_sellers = pd.read_csv(clean_data_dir_prefix.format('clean_sellers.csv'), encoding='utf-8', sep=',')
df_sellers.name = 'df_sellers'

df_translations = pd.read_csv(clean_data_dir_prefix.format('clean_translations.csv'), encoding='utf-8', sep=',')
df_translations.name = 'df_translations'

In [3]:
all_df = [df_customers,
df_orders,
df_delivered_orders,
df_not_approved_orders,
df_not_delivered_orders,
df_not_picked_up_orders,
df_order_items,
df_order_payments,
df_order_reviews_review_comments_no_null,
df_products,
df_sellers,
df_translations]

In [4]:
[print(f'Nulos en {df.name} ->\n{df.isna().sum()}\n\n') for df in all_df]

Nulos en df_customers ->
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64


Nulos en df_orders ->
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64


Nulos en df_delivered_orders ->
order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64


Nulos en df_not_approved_orders ->
order_id                           0
customer_id                        0
order_status                       0
order_purchase_timestamp           0
order_approved_at                160
order_delivered_carrier_date     146
order_delivered_customer_date    146
order_estimated_delivery_date      0
dtype: int64


Nulos en df_not_delivered_orders ->
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 146
order_delivered_carrier_date     1782
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64


Nulos en df_not_picked_up_orders ->
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 146
order_delivered_carrier_date     1783
order_delivered_customer_date    1782
order_estimated_delivery_date       0
dtype: int64


Nulos en df_order_items ->
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64


Nulos en df_order_payments ->
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64


Nulos en df_order_reviews_review_comments_no_null ->
review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64


Nulos en df_products ->
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64


Nulos en df_sellers ->
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64


Nulos en df_translations ->
product_category_name            0
product_category_name_english    0
dtype: int64

[None, None, None, None, None, None, None, None, None, None, None, None]

In [5]:
for df in all_df:
    print(f"---- {df.name.upper()} ----", end='\n\n')
    print(df.info())
    print("\n---------------------------------------------\n")

---- DF_CUSTOMERS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

---------------------------------------------

---- DF_ORDERS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

---------------------------------------------

---- DF_DELIVERED_ORDERS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96461 entries, 0 to 96460
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96461 non-null  object
 1   customer_id                    96461 non-null  object
 2   order_status                   96461 non-null  object
 3   order_purchase_timestamp       96461 non-null  object
 4   order_approved_at              96461 non-null  object
 5   order_delivered_carrier_date   96461 non-null  object
 6   order_delivered_customer_date  96461 non-null  object
 7   order_estimated_delivery_date  96461 non-null  object
dtypes: object(8)
memory usage: 5.9+ MB
None

---------------------------------------------

---- DF_NOT_APPROVED_ORDERS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       160 non-null    object
 1   customer_id                    160 non-null    object
 2   order_status                   160 non-null    object
 3   order_purchase_timestamp       160 non-null    object
 4   order_approved_at              0 non-null      float64
 5   order_delivered_carrier_date   14 non-null     object
 6   order_delivered_customer_date  14 non-null     object
 7   order_estimated_delivery_date  160 non-null    object
dtypes: float64(1), object(7)
memory usage: 10.1+ KB
None

---------------------------------------------

---- DF_NOT_DELIVERED_ORDERS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2965 entries, 0 to 2964
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       2965 non-null   object
 1   customer_id                    2965 non-null   object
 2   order_status                   2965 non-null   object
 3   order_purchase_timestamp       2965 non-null   object
 4   order_approved_at              2819 non-null   object
 5   order_delivered_carrier_date   1183 non-null   object
 6   order_delivered_customer_date  0 non-null      float64
 7   order_estimated_delivery_date  2965 non-null   object
dtypes: float64(1), object(7)
memory usage: 185.4+ KB
None

---------------------------------------------

---- DF_NOT_PICKED_UP_ORDERS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1783 entries, 0 to 1782
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       1783 non-null   object
 1   customer_id                    1783 non-null   object
 2   order_status                   1783 non-null   object
 3   order_purchase_timestamp       1783 non-null   object
 4   order_approved_at              1637 non-null   object
 5   order_delivered_carrier_date   0 non-null      float64
 6   order_delivered_customer_date  1 non-null      object
 7   order_estimated_delivery_date  1783 non-null   object
dtypes: float64(1), object(7)
memory usage: 111.6+ KB
None

---------------------------------------------

---- DF_ORDER_ITEMS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

---------------------------------------------

---- DF_ORDER_PAYMENTS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

---------------------------------------------

---- DF_ORDER_REVIEWS_REVIEW_COMMENTS_NO_NULL ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     99224 non-null  object
 4   review_comment_message   99224 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None

---------------------------------------------

---- DF_PRODUCTS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

---------------------------------------------

---- DF_SELLERS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None

---------------------------------------------

---- DF_TRANSLATIONS ----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

---------------------------------------------

In [6]:
df_customers.columns.values

array(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'], dtype=object)

In [7]:
df_orders.columns.values

array(['order_id', 'customer_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date'], dtype=object)

In [ ]:
df_orders_by_customer = pd.merge(
    left=df_orders[['customer_id', 'order_purchase_timestamp']].copy(),
    right=df_customers,
    left_on='customer_id',
    right_on='customer_id',
    how='left', # left porque nos interesan todos los pedidos
    copy=True
)

df_orders_by_customer

,customer_id,order_purchase_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP
...,...,...,...,...,...,...
99436,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP
99437,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:58,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP
99438,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:43,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA
99439,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ
99440,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR

In [9]:
df_orders_by_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   order_purchase_timestamp  99441 non-null  object
 2   customer_unique_id        99441 non-null  object
 3   customer_zip_code_prefix  99441 non-null  int64
 4   customer_city             99441 non-null  object
 5   customer_state            99441 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.6+ MB

In [10]:
df_orders_by_customer.shape

(99441, 6)

In [11]:
df_orders_by_customer.groupby(by=['customer_unique_id'])['order_purchase_timestamp'].count().sort_values(ascending=False)

customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
6469f99c1f9dfae7733b25662e7f1782     7
ca77025e7201e3b30c44b472ff346268     7
                                    ..
ffeefd086fc667aaf6595c8fe3d22d54     1
ffef0ffa736c7b3d9af741611089729b     1
fff1afc79f6b5db1e235a4a6c30ceda7     1
fff1bdd5c5e37ca79dd74deeb91aa5b6     1
fff22793223fe80c97a8fd02ac5c6295     1
Name: order_purchase_timestamp, Length: 96096, dtype: int64

In [12]:
df_orders_by_customer['customer_id'].unique()

array(['9ef432eb6251297304e76186b10a928d',
       'b0830fb4747a6c6d20dea0b8c802d7ef',
       '41ce2a54c0b03bf3443c3d931a367089', ...,
       '1aa71eb042121263aafbe80c1b562c9c',
       'b331b74b18dc79bcdf6532d51e1637c1',
       'edb027a75a1449115f6b43211ae02a24'], shape=(99441,), dtype=object)

In [13]:
df_orders_by_customer.to_csv(clean_data_dir_prefix.format('orders_by_customer.csv'), index=False, encoding='utf-8', sep=',')

# Parsear las columnas con fechas a ftype de fecha

In [14]:
names_to_find = {'at', 'timestamp', 'date'}
names_to_exclude = {'state', 'status', 'category'}

for df in all_df:
    print(f"Buscando fechas en {df.name}: ")
    string_columns = df.select_dtypes(['object', 'string']).columns.values
    date_columns = [column for column in string_columns if 
        ((any(include in column.lower() for include in names_to_find)) 
            and not
         (any(exclude in column.lower() for exclude in names_to_exclude))
        ) ]

        
    if date_columns:
        print(f"Se encontraron columnas con fechas,\n{date_columns}")
        for column in date_columns:
            print(f"Parseando {column}")
            df[column] = pd.to_datetime(df[column])

    else:
        print("No se han encontrado columnas de Fechas")

    print()

Buscando fechas en df_customers:
No se han encontrado columnas de Fechas

Buscando fechas en df_orders:
Se encontraron columnas con fechas,
['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
Parseando order_purchase_timestamp
Parseando order_approved_at
Parseando order_delivered_carrier_date
Parseando order_delivered_customer_date
Parseando order_estimated_delivery_date

Buscando fechas en df_delivered_orders:
Se encontraron columnas con fechas,
['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
Parseando order_purchase_timestamp
Parseando order_approved_at
Parseando order_delivered_carrier_date
Parseando order_delivered_customer_date
Parseando order_estimated_delivery_date

Buscando fechas en df_not_approved_orders:
Se encontraron columnas con fechas,
['order_purchase_timestamp', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
Parseando order_purchase_timestamp
Parseando order_delivered_carrier_date
Parseando order_delivered_customer_date
Parseando order_estimated_delivery_date

Buscando fechas en df_not_delivered_orders:
Se encontraron columnas con fechas,
['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_estimated_delivery_date']
Parseando order_purchase_timestamp
Parseando order_approved_at
Parseando order_delivered_carrier_date
Parseando order_estimated_delivery_date

Buscando fechas en df_not_picked_up_orders:
Se encontraron columnas con fechas,
['order_purchase_timestamp', 'order_approved_at', 'order_delivered_customer_date', 'order_estimated_delivery_date']
Parseando order_purchase_timestamp
Parseando order_approved_at
Parseando order_delivered_customer_date
Parseando order_estimated_delivery_date

Buscando fechas en df_order_items:
Se encontraron columnas con fechas,
['shipping_limit_date']
Parseando shipping_limit_date

Buscando fechas en df_order_payments:
No se han encontrado columnas de Fechas

Buscando fechas en df_order_reviews_review_comments_no_null:
Se encontraron columnas con fechas,
['review_creation_date', 'review_answer_timestamp']
Parseando review_creation_date
Parseando review_answer_timestamp

Buscando fechas en df_products:
No se han encontrado columnas de Fechas

Buscando fechas en df_sellers:
No se han encontrado columnas de Fechas

Buscando fechas en df_translations:
No se han encontrado columnas de Fechas

# **Generar nuevas mÃ©tricas**

- MÃ©trica sobre que dÃ­a de la semana se venden mÃ¡s y menos (Si ordenamos por ventas descendientes, head(1) el mejor, tail(1) el peor).

In [15]:
most_selled_day_of_week_name = df_orders['order_purchase_timestamp'].dt.day_name().mode()
most_selled_day_of_week_name

0    Monday
Name: order_purchase_timestamp, dtype: object

- MÃ©trica sobre que semana del mes se venden mÃ¡s y menos (Si ordenamos por ventas descendientes, head(1) el mejor, tail(1) el peor).

In [16]:
get_week_number = lambda day: day // 7
most_selled_week = get_week_number(day=df_orders['order_purchase_timestamp'].dt.day).mode()
most_selled_week

0    2
Name: order_purchase_timestamp, dtype: int32

- MÃ©trica sobre que mes se venden mÃ¡s y menos (Si ordenamos por ventas descendientes, head(1) el mejor, tail(1) el peor).

In [17]:
most_selled_month_name = df_orders['order_purchase_timestamp'].dt.month_name().mode()
most_selled_month_name

0    August
Name: order_purchase_timestamp, dtype: object

- Al mergear orders y products, puede que salgan productos que no se han vendido nunca, comprobar y si es buena mÃ©trica aÃ±adir.

In [18]:
df_merged = pd.merge(
    left=df_order_items,
    left_on='product_id',
    right=df_products,
    right_on='product_id',
    how='left',
    indicator=True
    )

df_merged['_merge'].unique()
# df_merged[df_merged['_merge'] == 'right_only']

# Pues no, no hay productos que no se hayan vendido nunca.

['both']
Categories (3, object): ['left_only', 'right_only', 'both']

- Dia con mÃ¡s ventas

In [19]:
df_orders_wo_hour_timestamp = df_orders.copy()
df_orders_wo_hour_timestamp['order_purchase_timestamp'] = df_orders_wo_hour_timestamp['order_purchase_timestamp'].dt.date
df_orders_wo_hour_timestamp

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [20]:
most_selled_day = df_orders_wo_hour_timestamp[['order_id', 'order_purchase_timestamp']].groupby(by=['order_purchase_timestamp']).size().sort_values(ascending=False)
most_selled_day

order_purchase_timestamp
2017-11-24    1176
2017-11-25     499
2017-11-27     403
2017-11-26     391
2017-11-28     380
              ...
2018-09-29       1
2018-10-01       1
2018-10-03       1
2018-10-16       1
2018-10-17       1
Length: 634, dtype: int64

- Productos mÃ¡s vendidos por meses

In [21]:
df_order_items.shape

(112650, 7)

In [22]:
df_order_items['order_id'].unique().shape

(98666,)

In [27]:
top_10_productos_mas_vendidos = df_order_payments.groupby(by=['order_id'])['payment_value'].sum().to_frame()
top_10_productos_mas_vendidos

                                  payment_value
order_id
00010242fe8c5a6d1ba2dd792cb16214          72.19
00018f77f2f0320c557190d7a144bdd3         259.83
000229ec398224ef6ca0657da4fc703e         216.87
00024acbcdf0a6daa1e931b038114c75          25.78
00042b26cf59d7ce69dfabb4e55b4fd9         218.04
...                                         ...
fffc94f6ce00a00581880bf54a75a037         343.40
fffcd46ef2263f404302a634eb57f7eb         386.53
fffce4705a9662cd70adb13d4a31832d         116.85
fffe18544ffabc95dfada21779c9644f          64.71
fffe41c64501cc87c801fd61db3f6244          55.79

[99440 rows x 1 columns]